@use "../utilities/variables" as *;
@use "../utilities/typography" as *;

.log-mood-modal {
  position: fixed;
  inset: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $spacing-400;
  overflow-y: auto;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: $neutral900;
    opacity: 0.7;
  }

  @media (max-width: $breakpoint-sm) {
    padding: 0;
    overflow-y: hidden;

    &::before {
      display: none;
    }
  }
}

.log-modal-content {
  position: relative;
  z-index: 1000;
  flex-grow: 1;
  max-width: 600px;
  max-height: 90vh;
  overflow-y: auto;
  background: $lightGradient;
  border-radius: $radius-16;
  padding: $spacing-500 $spacing-600;
  display: flex;
  flex-direction: column;
  row-gap: $spacing-400;

  @media (max-width: $breakpoint-sm) {
    padding: $spacing-400 $spacing-250;
    width: 100%;
    max-width: 100%;
    height: 100dvh;
    max-height: none;
    border-radius: 0;
  }
}

.log-modal-title {
  @media (max-width: $breakpoint-sm) {
    font-weight: 600;
    font-size: rem(28);
    line-height: 1.3;
    letter-spacing: -0.3px;
  }
}

.close-icon {
  position: absolute;
  top: $spacing-400;
  right: $spacing-400;
  cursor: pointer;

  @media (max-width: $breakpoint-sm) {
    top: $spacing-300;
    right: $spacing-250;
  }
}

.log-stepper {
  display: flex;
  column-gap: $spacing-200;

  .step {
    height: 6px;
    width: 100%;
    background-color: $blue200;
    border-radius: $radius-full;
  }

  .step--active {
    background-color: $blue600;
  }
}

.log-continue-button {
  font-weight: 400;
}

.lod-mood-options {
  display: flex;
  flex-direction: column;
  row-gap: $spacing-150;
}

.modal-desc {
  margin-top: $spacing-075;
  color: $neutral600;
}
