@use "../utilities/variables" as *;

.log-mood-modal {
  position: fixed;
  inset: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: $neutral900;
    opacity: 0.7;
  }
}

.log-modal-content {
  position: relative;
  z-index: 1000;
  flex-grow: 1;
  max-width: 600px;
  height: 100%;
  max-height: 747px;
  background: $lightGradient;
  border-radius: $radius-16;
  padding: $spacing-500 $spacing-600;
  display: flex;
  flex-direction: column;
  row-gap: $spacing-400;

  @media (max-width: $breakpoint-sm) {
    padding: $spacing-400 $spacing-250;
    max-width: 90%;
  }
}

.close-icon {
  position: absolute;
  top: $spacing-400;
  right: $spacing-400;
  cursor: pointer;

  @media (max-width: $breakpoint-sm) {
    display: none;
  }
}

.log-stepper {
  display: flex;
  column-gap: $spacing-200;

  .step {
    height: 6px;
    width: 100%;
    background-color: $blue200;
    border-radius: $radius-full;
  }

  .step--active {
    background-color: $blue600;
  }
}

.log-continue-button {
  font-weight: 400;
}

.lod-mood-options {
  display: flex;
  flex-direction: column;
  row-gap: $spacing-150;
}
