@use "../utilities/variables" as *;

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation-options {
  display: flex;
  align-items: center;
  column-gap: 9px;
  position: relative;
}

.avatar-image {
  width: 42.5px;
  height: 42.5px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.dropdown-options {
  cursor: pointer;
  transition: transform 0.1s ease;
  user-select: none;
  &.clicked {
    transform: rotate(180deg);
  }
}

.dropdown-menu {
  position: absolute;
  top: 55px;
  right: 0;
  width: 200px;
  background-color: #ffffff;
  box-shadow: $shadow-primary;
  border-radius: 8px;
  z-index: 10;
  padding: $spacing-150 $spacing-200;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li.clickable {
      cursor: pointer;
      transition: background-color 0.2s ease;

      &:hover {
        background-color: #f5f5f5;
      }
    }
  }
}

.divider {
  height: 1px;
  background-color: $blue100;
  margin: $spacing-150 0;
}

.user-email {
  margin-top: 2px;
  color: $neutral300;
}

.settings {
  margin-bottom: $spacing-150;

  img {
    margin-bottom: 1px;
  }
}

.logout,
.settings {
  display: flex;
  align-items: center;
  column-gap: $spacing-125;
}
