$moodAppColors: (
  // Neutral
  neutral900: #21214D,
  neutral600: #57577B,
  neutral300: #9393B7,
  neutral200: #CBCDD0,
  neutral0:   #FFFFFF,

  // Blue
  blue700: #2A4CD5,
  blue600: #4865DB,
  blue200: #C7D3F7,
  blue100: #E0E6FA,

  // Red
  red700: #E60013,
  red300: #FF9B99,

  // Other colors
  indigo200: #8B81FF,
  blue300: #89CAFF,
  green300: #89E780,
  amber300: #FFC97C,

  // Gradient colors
  lightGradientStart: #F5F5FF,
  lightGradientEnd:   #E0E0FF,
);
