$moodAppColors: (
  // Neutral
  neutral900: #21214d,
  neutral600: #57577b,
  neutral300: #9393b7,
  neutral200: #cbcdd0,
  neutral0: #ffffff,

  // Blue
  blue700: #2a4cd5,
  blue600: #4865db,
  blue200: #c7d3f7,
  blue100: #e0e6fa,

  // Red
  red700: #e60013,
  red300: #ff9b99,

  // Other colors
  indigo200: #b8b1ff,
  blue300: #89caff,
  green300: #89e780,
  amber300: #ffc97c,

  // Gradient colors
  lightGradientStart: #f5f5ff,
  lightGradientEnd: #e0e0ff
);
