@use "./variables" as *;

@font-face {
  font-family: "Reddit Sans";
  src: url("../../assets/fonts/RedditSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Reddit Sans";
  src: url("../../assets/fonts/RedditSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Reddit Sans";
  src: url("../../assets/fonts/RedditSans-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Reddit Sans";
  src: url("../../assets/fonts/RedditSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Reddit Sans";
  src: url("../../assets/fonts/RedditSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@function rem($px) {
  @return $px / 16 * 1rem;
}

$text-presets: (
  "1": (
    weight: 700,
    size: 52,
    lh: 1.4,
    ls: -2px,
  ),
  "1--mobile": (
    weight: 700,
    size: 46,
    lh: 1.2,
    ls: -2px,
    mobile: true,
  ),
  "2": (
    weight: 700,
    size: 40,
    lh: 1.2,
    ls: -0.3px,
  ),
  "2--mobile": (
    weight: 700,
    size: 32,
    lh: 1.2,
    ls: -0.3px,
    mobile: true,
  ),
  "3": (
    weight: 600,
    size: 28,
    lh: 1.3,
    ls: -0.3px,
  ),
  "3-mobile": (
    weight: 600,
    size: 24,
    lh: 1.4,
    ls: 0,
    mobile: true,
  ),
  "4": (
    weight: 600,
    size: 24,
    lh: 1.4,
    ls: 0,
  ),
  "4--regular": (
    weight: 400,
    size: 24,
    lh: 1.4,
    ls: 0,
  ),
  "5": (
    weight: 600,
    size: 20,
    lh: 1.4,
    ls: 0,
  ),
  "6": (
    weight: 500,
    size: 18,
    lh: 1.2,
    ls: 0,
  ),
  "6--italic": (
    weight: 500,
    size: 18,
    lh: 1.3,
    ls: 0,
    font-style: italic,
  ),
  "6--regular": (
    weight: 400,
    size: 18,
    lh: 1.4,
    ls: -0.3px,
  ),
  "7": (
    weight: 400,
    size: 15,
    lh: 1.4,
    ls: -0.3px,
  ),
  "8": (
    weight: 600,
    size: 13,
    lh: 1,
    ls: 0,
  ),
  "9": (
    weight: 400,
    size: 12,
    lh: 1.1,
    ls: 0,
  ),
);

@each $name, $props in $text-presets {
  .text-preset-#{$name} {
    font-weight: map-get($props, weight);
    font-size: rem(map-get($props, size));
    line-height: map-get($props, lh);
    letter-spacing: map-get($props, ls);

    @if map-has-key($props, font-style) {
      font-style: map-get($props, font-style);
    }
  }

  @if map-get($props, mobile) == true {
    @media (max-width: $breakpoint-sm) {
      .text-preset-#{$name} {
        font-weight: map-get($props, weight);
        font-size: rem(map-get($props, size));
        line-height: map-get($props, lh);
        letter-spacing: map-get($props, ls);

        @if map-has-key($props, font-style) {
          font-style: map-get($props, font-style);
        }
      }
    }
  }
}
