@use "../utilities/variables" as *;

.login-page {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  .container {
    flex-grow: 1;

    @media (max-width: $breakpoint-sm) {
      padding: $spacing-0 $spacing-200;
    }
  }
}
