@use "../utilities/variables" as *;

.login-page {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  .container {
    flex-grow: 1;

    @media (max-width: $breakpoint-sm) {
      padding: $spacing-0 $spacing-200;
    }
  }
}

.form-hint-icon {
  margin-right: $spacing-100;
}

.hint-wrapper {
  display: flex;
  align-items: center;
  margin-top: $spacing-100;
  color: $neutral600;
}
